.editform {
  position: fixed !important;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f4f4f9 !important;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.form-container {
  background: #fff;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 370px;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-container label {
  margin-top: 10px;
  display: block;
  color: #333;
}

.form-container input[type="text"],
.form-container input[type="date"],
.form-container input[type="tel"],
.form-container textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}
.form-container input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}
.form-container input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.form-container input[type="submit"]:hover {
  background-color: #218838;
}
.edit-close-btn {
  border: solid 1px #4eff9d;
  padding: 4px 20px;
  font-size: 16px;
  border-radius: 6px;
  outline: none;
  background-color: transparent;
}
.edit-submit-btn {
  border: none;
  background: #4eff9d;
  color: #000000;
  padding: 4px 20px;
  font-size: 16px;
  border-radius: 6px;
  outline: none;
}

.file-input__input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file-input__label {
  cursor: pointer;
  background-color: #4245a8;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: solid 2px #4245a8;
}
/* logout confirmation */

.logout-stage {
  position: fixed !important;
  inset: 0;
  background-color: #2d2d2d60 !important;
  width: 100%;
  height: 100%;
  position: relative;
}
.logout-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 60%;
  max-width: 500px;
  max-height: 200px;
  height: 100%;
  border-radius: 5px;
  padding: 20px;
}
.logout-container h2 {
  font-size: 30px;
}
.logout-container table {
  height: 100%;
  width: 100%;
}
.svg-size_popup {
  width: 40px;
}

.card-button {
    padding: 2px 19px;
  height: 35px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}
.primary {
  background-color: rgb(255, 114, 109);
  color: white;
}
.primary:hover {
  background-color: rgb(255, 73, 66);
}
.secondary {
  background-color: #ddd;
  outline: none;
}
.secondary:hover {
  background-color: rgb(197, 197, 197);
}
@media screen and (max-width: 600px) {
  .logout-container {
    width: 80%;
    max-width: 500px;
    max-height: 250px;
    height: auto;
    border-radius: 5px;
    padding: 20px;
  }
}
