.total-member-count {
  background-color: #fff;
  padding: 20px 27px;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: inline-flex;
  align-items: center;
}
.person-image-round {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
.listing-members {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 30px 10px;
  min-height: 100vh;
}
.txt-green {
  color: #16c098;
}
.add-member-btn i {
  color: #9197b3;
  padding: 10px;
  border-radius: 6px;
  font-size: 20px;
  background-color: aliceblue;
  cursor: pointer;
}
.maping-member {
  padding-top: 20px;
  min-width: 780px;
  margin: 0 4px;
}
.member-block {
  padding: 8px 10px;
  border-radius: 6px;
  background-color: #fff;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.member-block + .member-block {
  margin-top: 5px;
}

.delt-btn,
.edit-btn {
  padding: 2px 7px;
  border-radius: 4px;
}
.delt-btn {
  border: solid 0.09rem #df0404;
  background-color: #ffc5c5;
  color: #df0404;
}
.edit-btn {
  border: solid 0.09rem #00b087;
  background-color: #a6e7d8;
  color: #00b087;
}
.member-profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* =====Scroll bar style==== */
@media only screen and (max-width: 1196px) {
  #style-9{
    padding-bottom:17px;
    overflow-x: scroll;
  }
  
  #style-9::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
  }
  
  #style-9::-webkit-scrollbar
  {
      margin-top: 7px;
      height: 10px;
    background-color: #F5F5F5;
  }
  
  #style-9::-webkit-scrollbar-thumb
  {
    background-color: #42424267;
  }
  
  #style-9{
      overflow-x: scroll;
  } 
}
.border-custom_headig{
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  padding: 10px 0;
  border-radius: 4px;
}